body {
    background: black;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

#title{
  width: 745px;
  height: 350px;

}


#start {
    opacity: 0;
    animation: blinking 1s linear infinite;
  }
  
@keyframes blinking {
    from,
    49.9% {
      opacity: 0;
    }
    50%,
    to {
      opacity: 1;
    }
  }


@media only screen and (max-width: 1024px) {
  #title{
    width: 100%;
    height: auto;
  }

}
