body {
    background: black;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}

#title{
  width: 745px;
  height: 350px;

}

#start {
    opacity: 0;
    animation: blinking 1s linear infinite;
  }


#input_container {
    width: 50%;
    margin: 2% auto;
    display: block;
}
#input_container > input,
#input_container > textarea {
    font-family: inherit;
    font-size: 18px;
    width: 98%;
    display: block;
    resize: none;
    margin-bottom: 1em;
    border: 1px solid #333;
    padding: 0.25em;
    background: #FEFEFE;
}




  
@keyframes blinking {
    from,
    49.9% {
      opacity: 0;
    }
    50%,
    to {
      opacity: 1;
    }
  }


@media only screen and (max-width: 1024px) {
  #title{
    width: 100%;
    height: auto;
  }

  #input_container > textarea {
    display: block;
    
}



}
